<html>
    <body>
        <h1 align="center"> Bienvenido a Buscar Parejas</h1>
        <form method="POST" action="/iniciar">
            <input type="text" name="textj1" id="textj1" />
            <input type="submit" name="iniciar" id="iniciar" value="iniciar" />
        </form>
    </body>
</html>