<html>
    <head>
        
     
    </head>
    <body>

            <h1>Bienvenido a Buscar Parejas</h1>
            <h2>Bienvenido <%=session["jugador"]%></h2>
             <h2>Bienvenido <%=session["score"]%></h2>

            <table>
                <tr>
                    <td>
                         <form method="POST" action="/marcar/j1">
                            <input type="submit" name="button1" id="button1" value="1">
                        </form>
                    </td>
                    <td>
                         <form method="POST" action="/marcar/j2">
                            <input type="submit" name="button2" id="button2" value="2">
                        </form>
                    </td>                    
                </tr>
                <tr>
                    <td>
                         <form method="POST" action="/marcar/j3">
                            <input type="submit" name="button3" id="button3" value="2">
                        </form>
                    </td>
                    <td>
                         <form method="POST" action="/marcar/j4">
                            <input type="submit" name="button4" id="button4" value="1">
                        </form>
                    </td>                    
                </tr>                
                
            </table>
             <form method="POST" action="/marcar/">
                 <input type="submit" id="validar" value="Validar"/>
            </form>
            
		
            
        </form>
    
    </body>
</html>





